@import "../js/components/ArForm/ArForm.scss";
@import "../js/components/ArTable/ArTable.scss";

* {
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1, p {
  font-family: Lato;
}

.conainer {
  width: 300px;
  margin: 0 auto;
}