.form-container {
	display: flex;
    flex-direction: column;
    width: 250px;
    margin: 0 auto;

	button {
		width: 100px;
		margin: 0 auto;
		padding: 10px 5px;
		margin-top: 10px;
	}

	input, select {
		margin-top: 10px;
  		padding: 5px;
	}
}


